*{
  font-family: 'Radley', serif;
}
body{
  background: #9CB48D;
}

.head{
  text-align: center;
  margin-top: 80px;
}
.p1{
  margin-top: 2px;
  text-align: center;
  font-weight: bold;
}

.head .web{
  font-size: 75px;
}

.head .project{
  font-size: 50px;
  color: #9B4819;
  margin-top:-30px;
}
p{
  margin-top:-30px;
}

.container{
  margin-top: auto;
  
 
}

.img-area{
  text-align: center;
  color: #fff;
  position: relative;
}
.img-area img{
  width: 100%;
  height: auto;
  display: table;
}
.img-text,
.img-area:after{
  width: 100%;
  position: absolute;
  left:0;
  
}
.img-area:after{
  content:'';
  height: 100%;
  top: 0;
  transition: .5s;
}
.img-area:hover:after{
  background: linear-gradient(to bottom,rgba(199,0,57,.01),0,rgba(199,0,57,.25),25%,rgba(199,0,57,.75)75%,rgba(199,0,57,.95)) 100%;
}
.img-text{
  color:black;
  font-size: 30px;
  padding: 10px;
  margin-bottom: 20px;
  bottom: 0;
  z-index: 1;
  transform: translateY(120px);
  transition: all .5s cubic-bezier(.13,.62,.81,.91) 0s;
  
}

.img-text h2{
  font-family: 'Radley',serif;
  margin-right: 50px;
  
}
.img-area:hover .img-text{
  transform: translateY(0);
  color:white;
}
.row{
  transform: scale(50%);
  margin-left: -40px;
  margin-bottom: 370px;
  display: inline-block;
  margin-right: -50px;
  
}

.row1{
  top: 100px;
  margin-bottom: 470px;
  transform: scale(72%);
  display: inline-block;
  
}

.row2{
  transform: scale(50%);
  margin-bottom: 200px;
  display: inline-block;
  position: absolute;
  top: 150px;
  bottom: -740px;
  
    
}
.navbar{
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: center;
  
}

.navbar a{
  float:left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    justify-content:center;
    margin-left: 20%;
  
}
.navbar a:hover{
  background-color: #ddd;
  color:black;
}
.navbar a.active{
  background-color: #04AA6D;
  color:white;
}



